In [1]:
!ls -la

total 20
drwxr-xr-x 1 root root 4096 Oct  7 17:14 .
drwxr-xr-x 1 root root 4096 Oct  7 17:12 ..
drwxr-xr-x 4 root root 4096 Sep 30 17:11 .config
-rw-r--r-- 1 root root  638 Oct  7 17:14 junio.dat
drwxr-xr-x 1 root root 4096 Sep 30 17:12 sample_data

In [2]:
!cat junio.dat

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, año de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MU�OZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [3]:
archivo = open('junio.dat', 'rt', encoding='latin-1')
print(archivo.read())

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MUOZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [ ]:
class trabajador:
    def __init__(self, nt, nom , pat , mat , he, ai):
        self.__numero_trab=nt 
        ...
#metodos de acceso
    def sett_numero trabajador(self, nt):
        self.__numero_trabajador = nt 
#metodos de uso gnral.

In [ ]:
class Nomina:
    __init__(self , ruta_arch):
        #abrir archivo  y determinar el numero de empleado
        self.__data = Array(num_emp)

    def calcular_sueldos(self):
        #iterar y haer calcular dde sueldos
    def buscar_mas_antiguo(self):

    def buscar_menor_antiguo(self):